---
timezone: America/Chicago
baseurl: ""
url:
include: ['_pages', '_data','login.html','login','_vendors', '_plugins', email,]
name:
description: ""
author: ""
relative_permalinks: false
favicon:
disqus:
# Enter your Google Analytics web tracking code (e.g. UA-2110908-2) to activate tracking
google_analytics:
logo:
locale: en_us
twitter:
  username: ""
schema:
  business_id: "#localbusiness"
  business_type: "LocalBusiness"
  service_radius_meters: 64374

address:
  street: ""
  city: ""
  region: ""
  zip: ""
  country: ""
latitude: ""
longitude: ""
price_range: "$$"
payment_accepted: ["Cash","Credit Card","PayPal","Check"]
opening_hours:
weekday:
  days: ["Monday","Tuesday","Wednesday","Thursday","Friday"]
  opens: "09:00"
  closes: "17:00"
weekend:
  days: ["Saturday","Sunday"]
  opens: "10:00"
  closes: "17:00"
review_count: 50
default_rating_value: "5.0"
phone: ""
og_image: ""
google_site_verification: ""
bing_site_verification: ""

plugins_dir: _plugins
collections:
  products:
    output: true
  wedding:
    output: true
  coordinators:
    output: true
    permalink: /:title
  booths:
    output: true
  event_type:
    output: true
defaults:
- scope:
    path: ""
  values:
    layout: default
    _options:
      content: &content_defaults
        uploads_dir: "uploads/:title"
        format: p h1 h2 h3 h4 h5 h6 div
        styles: /assets/css/theme.css
        undo: true
        redo: true
        left: text-left
        center: text-center
        right: text-right
        justify: justify-content-center
        bold: true
        italic: true
        underline: true
        strike: true
        subscript: false
        superscript: false
        blockquote: true
        table: true
        copyformatting: true
        removeformat: true
        numberedlist: true
        bulletedlist: true
        outdent: false
        indent: false
        image: true
        link: true
        embed: true
- scope:
    path: ""
    type: "products"
  values:
    layout: "product"
- scope:
    type: pages
    path: _pages/index.html
  values:
    permalink:

# Permalinks
minify_build:
  enabled: false

purge_css_light:
  enabled: false
permalink: pretty
plugins:
  #- jekyll-paginate
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-archives
exclude:
  - node_modules/
  - __MACOSX/
  - .DS_Store
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - _site
