---
timezone: America/Chicago
baseurl: ""
url:
include: ['_pages', '_data','login.html','login','_vendors', '_plugins', email,]
name:
description: ""
author: ""
relative_permalinks: false
favicon:
disqus:
# Enter your Google Analytics web tracking code (e.g. UA-2110908-2) to activate tracking
google_analytics:
logo:
locale: en_us
social:
  name:
  links:
    - https://twitter.com/ohhsnapbooth
    - https://www.facebook.com/ohhsnapbooth
    - https://www.pinterest.com/ohhsnapbooth
    - https://instagram.com/ohhsnapbooth
    - https://maps.app.goo.gl/HFYo8vHsEqHiMQfX8
    - https://www.yelp.com/biz/ohh-snap-photo-booth-lafayette-2
    - https://www.theknot.com/marketplace/ohh-snap-photo-booth-lafayette-la-1089431
    - https://www.weddingwire.com/biz/ohh-snap-photobooth-opelousas/024e0ced0369c12b.html
    - https://www.stylemepretty.com/vendor-profile/ohh-snap-photo-booth?location=southeastern-us/louisiana
    - https://www.bing.com/maps?osid=8c037a23-54a0-432d-8ee2-26799c5f2469&cp=30.492782~-92.076716&lvl=16&pi=0&imgid=8a7af4dc-d1f9-4f80-82f7-652189843304&v=2&sV=2&form=S00027
    - https://www.youtube.com/@ohhsnapbooth
    - https://www.linkedin.com/in/ohh-snap-photo-booth
twitter:
  username: ""
schema:
  business_id: "#localbusiness"
  business_type: "LocalBusiness"
  service_radius_meters: 64374

address:
  street: "905 Jefferson St"
  city: "Lafayette"
  region: "LA"
  zip: "70501"
  country: "US"
latitude: "30.221191"
longitude: "-92.018257"
price_range: "$$"
payment_accepted: ["Cash","Credit Card","PayPal","Check"]
opening_hours:
weekday:
  days: ["Monday","Tuesday","Wednesday","Thursday","Friday"]
  opens: "09:00"
  closes: "17:00"
weekend:
  days: ["Saturday","Sunday"]
  opens: "10:00"
  closes: "17:00"
review_count: 50
default_rating_value: "5.0"
phone: ""
og_image: ""
google_site_verification: ""
bing_site_verification: ""

plugins_dir: _plugins
collections:
  products:
    output: true
  wedding:
    output: true
  coordinators:
    output: true
    permalink: /:title
  booths:
    output: true
  event_type:
    output: true
defaults:
- scope:
    path: ""
  values:
    layout: default
    _options:
      content: &content_defaults
        uploads_dir: "uploads/:title"
        format: p h1 h2 h3 h4 h5 h6 div
        styles: /assets/css/theme.css
        undo: true
        redo: true
        left: text-left
        center: text-center
        right: text-right
        justify: justify-content-center
        bold: true
        italic: true
        underline: true
        strike: true
        subscript: false
        superscript: false
        blockquote: true
        table: true
        copyformatting: true
        removeformat: true
        numberedlist: true
        bulletedlist: true
        outdent: false
        indent: false
        image: true
        link: true
        embed: true
- scope:
    path: ""
    type: "products"
  values:
    layout: "product"
- scope:
    type: pages
    path: _pages/index.html
  values:
    permalink:
- scope:
    type: pages
    path: _wedding
  values:
    permalink: /:title
- scope:
    path: "_posts/blog"
    type: posts
  values:
    permalink: "/ohh-snap-blog/:title"
    layout: post
- scope:
    path: "_posts/help"
    type: posts
  values:
    permalink: "/ohh-snap-help/:title"
    layout: post
assets:
      cdn:
       # url: https://ohhsnap.b-cdn.net
# If you're hosting your site at a Project repository on GitHub pages
# (http://yourusername.github.io/repository-name)
# and NOT your User repository (http://yourusername.github.io)
# then add in the baseurl here, like this: "/repository-name"
# http://jekyllrb.com/docs/pagination/
# paginate: 3
# paginate_path: '/page:num/'

# Permalinks
minify_build:
  enabled: false

purge_css_light:
  enabled: false
permalink: pretty
plugins:
  #- jekyll-paginate
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-archives
exclude:
  - node_modules/
  - __MACOSX/
  - .DS_Store
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - _site
