<a href="#" id="back-to-top"></a>

<footer>
    <div class="container">
        <div class="row">

            <!-- CONTACT INFO -->
            <div class="col-md-6">
                <div class="widget">
                    <h5>Contact Info</h5>
                    <address class="s1">
                        <span><i class="text-white fa fa-map-marker fa-lg"></i>515 S Sterling St, Lafayette, LA 70501</span>
                        <span><i class="text-white fa fa-phone fa-lg"></i>337-534-0204</span>
                        <span><i class="text-white fa fa-envelope-o fa-lg"></i>
                            <a href="mailto:hello@belleviehospitality.com">hello@belleviehospitality.com</a>
                        </span>
                    </address>
                </div>
            </div>

            <!-- QUICK LINKS -->
            <div class="col-md-6">
                <div class="widget">
                    <h5>Quick Links</h5>
                    <ul>
                        <li><a href="#section-schedule">Schedule</a></li>
                        <li><a href="#section-gallery">Gallery</a></li>
                        <li><a href="#section-date">Event Info</a></li>
                        <li><a href="#top">Back to Top</a></li>
                    </ul>
                </div>
            </div>


        </div>
    </div>

    <!-- SUBFOOTER -->
    <div class="subfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="de-flex">

                        <div class="de-flex-col">
                            <a href="/">
                                <img alt="" class="f-logo" src="{{ site.data.company_details.logo_image }}" />
                                <span class="copy">
                                    &copy; {{ site.time | date: "%Y" }} Sterling Grove Festival —
                                    <a href="https://accoladesit.com" target="_blank">Accolades IT</a>
                                </span>
                            </a>
                        </div>

                        <div class="de-flex-col">
                            <div class="social-icons">
                                <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                <a href="#"><i class="fa fa-instagram fa-lg"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
