 <script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/wow.min.js"></script>
<script src="/assets/js/jquery.isotope.min.js"></script>
<script src="/assets/js/easing.js"></script>
<script src="/assets/js/lenis.js"></script>
<script src="/assets/js/owl.carousel.js"></script>
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/enquire.min.js"></script>
<script src="/assets/js/jquery.plugin.js"></script>
<script src="/assets/js/jquery.countTo.js"></script>
<script src="/assets/js/jquery.countdown.js"></script>
<script src="/assets/js/jquery.lazy.min.js"></script>
<script src="/assets/js/jquery.lazy.plugins.min.js"></script>
<script src="/assets/js/mdb.min.js"></script>
<script src="/assets/js/jquery.countdown.js"></script>
<script src="/assets/js/countdown-custom.js"></script>
<script src="/assets/js/cookit.js"></script>
<script src="/assets/js/designesia.js"></script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="/assets/https://www.googletagmanager.com/gtag/js?id={{site.google_analytics}}"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', '{{site.google_analytics}}');
</script>
